.App {
  text-align: center;
  /* position: absolute; */
}

.home{
  border: 15px solid brown;
}

.header{
  position: fixed;
  height: 15%;
  background-color: blue;
  width: 100%;
}

.book-list{
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
  padding: 5%;
  justify-content: space-around;
  background-color: rgb(92, 33, 33); */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1vw;
  margin: 3%;
}



.home{
  /* display: flex; */
  justify-content: center;
  height: 100%;
}

.thumb{
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  height: 300px;
  object-fit: inherit;
  display: flex;
  flex-direction: column;
  color: rgb(6, 8, 43);
  background-color: rgb(243, 243, 217);
  cursor: pointer;
}

.thumb:hover{
  background-color: rgb(233, 233, 177);
}


.thumb-head{
  width: 100%;
  height: 14%;
  /* background-color: lightgoldenrodyellow; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 20px;
  justify-content: space-between
}

.thumb-body{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2%;
  height: 100%;
  overflow-y: hidden;
  padding: 3%
}

.thumb-body div{
  width: 100%;
  justify-content: space-between;
}

.thumb-links{
  width: 100%;
  justify-self: flex-end;
}

hr{
  width: 80%;
  align-self: flex-end;
}

.left{
  object-fit: contain;
  overflow: hidden;
}

.right{
  /* width: 100%;
  height: 100%;
  padding-left: 10%; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  flex-direction: column;
}

.links{
  display: flex;
  flex-direction: column;
}

.amazon{
  font-size: 30px;
  color: darkgreen;
}

.author{
  font-style: italic;
  font-size: 20px;
}

.thumb img{
  padding-right: 4%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

